{% extends 'layouts/base.twig' %}

{% set curPageId = 'pageList' %}

{% block title %}Page list{% endblock %}

{% block body %}
	<section class="page-list">
		<div class="container">
			<h1>Page list</h1>
			<ol>
					<li><a href="index.html">Landing page</a></li>
					<li><a href="test.html">Test page</a></li>
			</ol>
		</div>
	</section>
{% endblock %}

{% block stylesheets %}
	<link rel="preload" as="style" href="assets/stylesheets/page-list.min.css"  onload="this.rel='stylesheet'" />
	<noscript><link rel="stylesheet" href="assets/stylesheets/page-list.min.css"></noscript>
{% endblock %}

{% block javascripts %}
	<script src="assets/javascripts/page-list.js"></script>
{% endblock %}
 