{% extends 'layouts/base.twig' %}
{% from '/macros/icon.twig' import icon %}

{% block header %}{% endblock %}

{% block title %}Page test{% endblock %}

{% block body %}
    <section data-scroll-section>
        <div class="container">
					<div class="test">
						<h1>Hello world!</h1>
						<img src="assets/images/landing/intro/3-xl.jpg" alt="">
						{{ icon('social-youtube' , {'width': 20, 'height': 20}) }}
					</div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/stylesheets/test.css" />
{% endblock %}

{% block footer %}{% endblock %}