{% from '../macros/icon.twig' import icon %}

<header class="header header_sticky {{ headerAttrs.class|default('') }}">
	<div class="container">
			<div class="header__holder">
				<a href="/" class="header__logo">
					{{ icon('logo' , {'width': 50, 'height': 50}) }}
				</a>
				<nav class="main-nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li class="has-children">
							<span>Services</span>
							<div class="sub-nav">
								<ul>
									<li><a href="#section0">Section0</a></li>
									<li><a href="#section1">Section1</a></li>
									<li><a href="#section2">Section2</a></li>
									<li><a href="#section3">Section3</a></li>
									<li><a href="#section4">Section4</a></li>
									<li><a href="#section5">Section5</a></li>
								</ul>
							</div>
						</li>
						<li {% if curPage == "test" %} class="active"{% endif %}><a href="test.html">Test</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				<div class="header__info">
					<div class="header__phone">+7 9123456789</div>
					<a href="mailto:project@mail.com">project@mail.com</a>
				</div>
				<a href="#" class="ham-trigger"></a>
			</div>
	</div>
</header>

