* {
    &,
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

:root {
    --viewport-height: 100vh;
    --viewport-height-actual: 100vh;
}

html {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    //scroll-behavior: smooth;
    font-size: 62.5%; // 1rem === 10px
}
body {
    min-height: 100vh;
    min-height: var(--viewport-height);
    margin: 0;
    position: relative;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 22 / 16 * 1em;
    font-weight: normal;
    fill: currentColor;

    &.fixed {
        overflow-y: hidden;
    }
}

svg {
    fill: currentColor;
}

h1,
h2,
p {
    margin: 0;
}

picture {
    display: block;
}

img {
    user-select: none;
    vertical-align: top;
}

img[draggable="false"] {
    pointer-events: none;
    -webkit-user-drag: none;
}

.page-content-wrapper {
    min-width: 320px;
}

.page-content {
    min-height: 100vh;
    min-height: var(--viewport-height);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform .5s ease-in-out;
}

.page-list {
    padding-top: 140px;
    background-color: rgb(87, 192, 211);
    height: 100vh;

    @include media-breakpoint-up(lg) {
        background: linear-gradient(to bottom, rgb(87, 192, 211), rgb(19, 152, 175));
    }

    h1 {
        margin-bottom: 30px;
    }
    
    ol {
        padding-left: 20px;
        li {
            margin-bottom: 5px;
        }
    }
}