<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="Author" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/manifest/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/manifest/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/assets/manifest/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/manifest/favicon-16x16.png">
	<link rel="manifest" href="/assets/manifest/site.webmanifest">
	<link rel="mask-icon" href="/assets/manifest/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
  {% block meta %}{% endblock %}
  <title>{% block title %}Title{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}"/>        
	<script>
		document.documentElement.classList.remove('no-js');
		document.documentElement.classList.add('js');

		if (document.documentElement.style.setProperty) {
			document.documentElement.style.setProperty('--viewport-height', window.innerHeight + 'px');
			document.documentElement.style.setProperty('--viewport-height-actual', window.innerHeight + 'px');
		}
	</script>
	<link rel="stylesheet" href="assets/stylesheets/global.min.css" />
	{% block stylesheets %}{% endblock %}
	{#

	{% set fontUrl = '' %}
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preload" as="style" href="{{ fontUrl }}&display=swap" />
	<link rel="stylesheet" href="{{ fontUrl }}&display=swap" media="print" onload="this.media='all'" />
	<noscript><link rel="stylesheet" href="{{ fontUrl }}&display=swap" /></noscript>
	#}
</head>
<body>
	<div class="page-content-wrapper js-page-content-wrapper">
		{% include "../partials/preloader.twig" %}
		{% block header %}
			{% include "../partials/header.twig" with { navigation: header.navigation } %}
		{% endblock %}
		{# .js-page-content is used for modal mobile fixes (see modal.js) and smooth scrolling #}
		{% include "../partials/ham-panel.twig" %}
		<div class="page-content js-page-content">
				<main>
					{% block body %}{% endblock %}
				</main>
				{% block footer %} 
					{% include "../partials/footer.twig" %}
				{% endblock %}
		</div>
		<div class="js-modal">
				{% block modal %}{% endblock %}
		</div>
	</div>
	
	{% block javascripts %}{% endblock %}

	{# <script src="assets/javascripts/svg4everybody.js"></script>#}
	{# <script>svg4everybody();</script> #}
</body>
</html>
