.header {
	z-index: 999;
	padding: 20px 0;
	color: #000;

	@include media-breakpoint-up(md) {
		padding: 0;
	}

	&__holder {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		width: 50px;
		margin-right: 20px;
		color: #000;
		transition: color .3s ease-in-out;

		svg {
			max-width: 100%;
		}
	}

	&__info {
		text-align: right;
		margin-left: 20px;
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
		}

		a {
			text-decoration: none;
			color: #000;
		}
	}
	&_light &__logo {
		@include media-breakpoint-up(sm) {
			color: #fff;
		}
	}

	&_light &__logo {
		color: #fff;
	}

	&_light.hamed &__logo {
		color: #000;
		@include media-breakpoint-up(sm) {
			color: #fff;
		}
	}

	&_light.active &__logo {
		color: #000;
	}

	&_light &__info {
		a {
			color: #fff;
		}
	}

	&_light.active &__info {
		a, span {
			color: #000;
		}
	}

	&_light .main-nav {
		ul {
			li {
				&.has-children:before {
					border-top-color: #fff;
				}

				a, span {
					color: #fff;

					&:before {
						background-color: #fff;
					}
				}
			}
		}
	}

	&_light.active .main-nav {
		ul {
			li {
				&.has-children:before {
					border-top-color: #000;
				}

				a, span {
					color: #000;

					&:before {
						background-color: #000;
					}
				}
				&:hover > a {
					//background-color: rgba(0, 0, 0, .2);
				}
			}
		}
	}

	&_light &__phone {
		color: #fff;
	}

	&_light.active &__phone {
		color: #000;
	}

	&_light .ham-trigger {
		&:before {
			border-top-color: #fff;
			border-bottom-color:  #fff;
		}
	
		&:after {
			background: #fff;
		}

		&.active {
			&:before {
				border-top-color: #000;
				border-bottom-color:  #000;
			}
		
			&:after {
				background: #000;
			}
		}
	}

	&_light.active .ham-trigger {
		&:before {
			border-top-color: #000;
			border-bottom-color:  #000;
		}
	
		&:after {
			background: #000;
		}
	}
}

.header_sticky {
	transition: all .4s ease-in-out;
	will-change: transform;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.header_sticky.sticky {
	opacity: 0;
	transform: translateY(-70%);
}

.header_sticky.active {
	transition: all .4s ease-in-out;
	opacity: 1;
	transform: none;
	background-color: #fff;
	box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, .2);
}

.main-nav {
	flex: 1;
	display: none;
	max-width: 600px;
	@include media-breakpoint-up(md) {
		display: block;
	}

	& > ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
		padding-left: 0;
		margin: 0;

		& > li {
			position: relative;
			background-color: rgba(255, 255, 255, 0);
			transition: background-color .3s ease-in-out;

			&.has-children {
				padding-right: 20px;
				cursor: pointer;

				&:before {
					content: '';
					border: 7px solid transparent;
					border-top-color: #000;
					position: absolute;
					right: 7px;
					top: 7px;
					bottom: 0;
					margin: auto 0;
					width: 0;
					height: 0;
				}
			}

			& > a,
			& > span {
				text-decoration: none;
				color: #000;
				white-space: nowrap;
				padding: 30px 15px;
				display: inline-block;
				vertical-align: top;
				

				&:before {
					content: '';
					background-color: #000;
					opacity: 0;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					transition: opacity .3s ease-in-out;
				}
			}

			&:hover {
				background-color: rgba(255, 255, 255, .3);

				a:before {
					opacity: 1;
				}
			}

			&.active {
				pointer-events: none;

				& > a {
					&:before {
						opacity: 1;
					}
				}
			} 

			&:hover .sub-nav {
				opacity: 1;
				transform: scaleY(1);
			}
		}
	}

	.sub-nav {
		position: absolute;
		top: 100%;
		text-align: left;
		background-color: rgba(255, 255, 255, 1);
		opacity: 0;
		overflow: hidden;
		transition: transform .3s ease-in-out, opacity .5s ease-in-out;
		transform: scaleY(0);
		transform-origin:  top;

		ul {
			padding: 15px 0;

			li {
				display: block;
				min-width: 200px;

				a {
					color: #000;
					text-decoration: none;
					padding: 10px 15px;
					display: block;
					background-color: rgba(0, 0, 0, 0);
					transition: all .3s ease-in-out;

					&:hover {
						background-color: rgba(0, 0, 0, .3);
						color: #fff;
					}
				}
			}
		}
	}
}

.ham-trigger {
	position: relative;
	width: 30px;
	height: 25px;
	margin-left: 20px;

	@include media-breakpoint-up(md) {
		display: none;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		transition: all .4s;
		top: 0;
		bottom: 0;
		margin: auto 0;
	}

	&:before {
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		border-radius: 3px;
	}

	&:after {
		height: 3px;
		background: #000;
		border-radius: 3px;
	}

	&.active {
		&:before { 
			transform: rotate(45deg);
			border-bottom: none;
			height: 3px;
		}

		&:after {
			transform: rotate(-45deg);
		}		
	}
}
